<footer class="footer">
  <p>This page was built using the Antora default UI.</p>
  <p>The source code for this UI is licensed under the terms of the MPL-2.0 license.</p>
</footer>

{{#if env.ALGOLIA_API_KEY}}
<!-- downloaded from CDN -->
<script type="text/javascript" src="{{uiRootPath}}/js/vendor/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: '{{env.ALGOLIA_API_KEY}}',
  indexName: '{{env.ALGOLIA_INDEX_NAME}}',
  appId: '{{env.ALGOLIA_APP_ID}}',
  container: '#search-container',
  searchParameters: {
    facetFilters: ['version:{{page.version}}']
  },
});
</script>
{{/if}}
{{!-- downloaded from the CDN --}}
<script type="text/javascript" src="{{uiRootPath}}/js/medium-zoom.min.js"></script>
<script type="text/javascript">
mediumZoom('.data-zoomable img', {
  margin: 50,
  background: '#FFFFFFA1',
})
</script>
